useDynLib(radish, .registration=TRUE)
importFrom(Rcpp, evalCpp)
export(radish)
export(radish_algorithm)
export(leastsquares)
export(mlpe)
export(generalized_wishart)
export(radish_grid)
export(radish_distance)
export(radish_conductance_surface)
export(loglinear_conductance)
export(identity_conductance)
export(NewtonRaphsonControl)
export(HagerZhangControl)
export(fst_from_biallelic)
export(cov_from_biallelic)
export(dist_from_biallelic)
export(dist_from_cov)
S3method(print, "radish")
S3method(summary, "radish")
S3method(print, "summary.radish")
S3method(fitted, "radish")
S3method(simulate, "radish")

